html {
  scroll-behavior: smooth;
}

.bg-img {
  background-image: url('images/PV_header.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.header {
  min-height:100%;
  max-width:100%;
  min-width:500px;
}

.text-header {
  color: white;
  position:fixed;
  top:20%;left:50%;
  text-align: center;
  font-family: Verdana;
  font-size: 5vw;
  text-decoration: none;
  text-shadow: 2px 2px 5px orange;
  z-index:1;
}

.main-content {
  
  border-radius: 25px;
  margin-right: 25px;
  margin-left: 25px;
  padding: 7.5%;
  background-color: white;
  position: relative;
  z-index:2;

  font-family: sans-serif;
}
.main-content h1 {
  color: grey;
  text-align: center;
  font-size: 3vw;
}
.main-content p {
  text-indent: 50px;
  text-align: justify;
  line-height: 1.2;
  font-size: 1.5vw;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  padding: 4px;
}

.container:hover .overlay {
  opacity: 0.8;
}
.overlay {
  position: absolute;
  vertical-align: middle;
  top: 40%;
  left: 0%;
  width:62%;
  background-color: black;
  color: white;
  margin-left: 4px;
  padding: 20px;
  opacity: 0;
  transition: .3s ease;
}

.column-container {
  margin-top: 100px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 0px 10px;
  min-width:50px;
}
.column img {
  width: 100%;

}

.btn {
  border: 2px solid #e7e7e7;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: #e7e7e7;
}

@media only screen and (max-width: 600px) {
  .column {
    display: block;
    width: 100%;
  }
  .container {
    display: block;
    width: 100%;
  }
  .overlay {
    display: block;
    width: 100%;
  }
}

.animate-opacity {
  animation:opac 0.8s
}@keyframes opac {
  from {
    opacity:0
  } to {
    opacity:1
  }
}